{% extends 'customer/shared/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h3>My Orders</h3>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>EQUIPMENTS</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL COST</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ order.equipment }}</td>
                    <td>{{ order.start_date }}</td>
                    <td>{{ order.end_date }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.total_cost }}</td>
                    <td>
                        
                        {% if order.is_approved %}
                            Approved
                        {% else %}
                            Not Approved
                        {% endif %}
                            
                    </td>

                    <th>
                        <a href="{% url 'custome_delete_order' id=order.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </th>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

<br>
<br>
<br>
<br>
{% endblock main %}
    