{% extends 'accounts/shared/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<br>
<br>
<br>
<br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>PASSWORD CHANGE</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <div class="form-group">
                   <button class="btn btn-primary">CHANGE</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>

    </div>

<br>
<br>
<br>
<br>
{% endblock main %}
    